.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    background-color: black;

}

.nasa-logo {
    margin: 25px auto 25px auto;
    height: 100px;
    width: 250px;
    /* overflow: hidden; */

}
.search-results {
    margin: auto;
}

@media screen and (min-width: 800px) {
    .nasa-logo {
        height: 200px;
        width: 500px;
    }
}